<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TranslatorKey</key>
	<string>AIzaSyAc1SzC_fogJUxKh211wXREFahDM37IX90</string>
	<key>ConverterKey</key>
	<string>9de79ff7ab813e5de724601949f07f37</string>
	<key>WeatherKey</key>
	<string>0bea5b117f2e763e5650645d21327e25</string>
</dict>
</plist>
